/* Cart.css */

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Use 100% width of the slide */
  /* Adjust max-width as needed */
  margin: 3rem auto; /* Center the Cart component within the slide */
  padding: 2rem;
  border-radius: 0.5rem;
}
